@model HantaWorld.AdminApi.Models.CountryFormViewModel
@{
    ViewData["Title"] = "Ülke Düzenle";
}

<h1 class="h3 mb-4">Ülke Düzenle</h1>
<partial name="_CountryForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
