@model HantaWorld.AdminApi.Models.ArticleFormViewModel
@{
    ViewData["Title"] = "Yeni Haber";
}

<h1 class="h3 mb-4">Yeni Haber</h1>
<partial name="_ArticleForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
